language: perl
perl:
  - "5.8"
  - "5.10"
  - "5.12"
  - "5.14"
  - "5.16"
  - "5.18"
before_install:
 - sudo apt-get update -qq
 - sudo apt-get install -qq libmysqlclient-dev
 - perlbrew install-cpanm -f
before_script:
  - mysql -e 'create database myapp_test;'
install:
   - cpanm Test::Deep Proc::ProcessTable
env: SLOW_TESTS=1
script: "perl Makefile.PL --testuser=travis --testdb myapp_test && make && make test"
