name: CI

on: [push, pull_request, workflow_dispatch]
jobs:
  test:
    strategy:
      # https://www.mysql.com/support/supportedplatforms/database.html
      matrix:
        include:
          - os: ubuntu-22.04
          - os: ubuntu-24.04
    runs-on: ${{ matrix.os }}
    services:
      mysql:
        image: container-registry.oracle.com/mysql/community-server:8.0
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_ROOT_HOST: "%"
          MYSQL_DATABASE: test
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - uses: actions/checkout@v6
      - name: "Setup generic dependencies"
        run: |
          sudo apt update
          sudo apt install -y \
          gcc \
          gnupg \
          libdbi-perl \
          libdevel-checklib-perl \
          libtest-deep-perl \
          libtest-pod-perl \
          lsb-release \
          make \
          wget
      - run: |
          sudo debconf-set-selections <<EOF
          mysql-apt-config      mysql-apt-config/select-server  select  mysql-8.0
          EOF
      - name: "Setup mysql libs"
        run: |
          wget https://dev.mysql.com/get/mysql-apt-config_0.8.36-1_all.deb
          DEBIAN_FRONTEND="noninteractive" sudo dpkg -i mysql-apt-config_0.8.36-1_all.deb
          sudo apt update
          sudo apt install -y libmysqlclient-dev
      - name: "Run build"
        run: |
          perl Makefile.PL --testhost=127.0.0.1 --testuser=root
          make
      - name: "Run test"
        run: make test
